@use '../shared/styles/mixins.scss' as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.heading {
  @include breakInnerSpans;
  margin: 0;
  font-size: var(--text-6xl);
  font-weight: var(--font-normal);
}

.description {
  @include breakInnerSpans;
  font-size: var(--text-2xl);
  letter-spacing: 0.5px;
  margin-top: 50px;
  line-height: 1.5;
  grid-column: span 2;
}

.rightControls {
  display: flex;
  flex-direction: column;
}

.toggleWithSocials {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
