@use '../shared/styles/mixins' as *;
@use '../shared/styles/breakpoints' as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.heading {
  @include breakInnerSpans;
  margin: 0;
  font-size: var(--text-6xl);
  font-weight: var(--font-normal);

  @include bpTablet {
    font-weight: var(--font-semibold);
    font-size: var(--text-4xl);
  }

  @include bpMobile {
    font-size: var(--text-2xl);
  }
}

.link {
  justify-self: start;
  padding-right: 30px;
  text-decoration: none;
  color: var(--color-text);
}

.description {
  @include breakInnerSpans;
  font-size: var(--text-2xl);
  letter-spacing: 0.5px;
  margin-top: 50px;
  line-height: 1.5;
  grid-column: span 2;

  @include bpTablet {
    margin-top: 30px;
    font-size: var(--text-xl);
  }
}
