@use '../shared/styles/mixins.scss' as *;

.wrapper {
  display: flex;
}

.heading {
  @include breakInnerSpans;
  margin: 0;
  font-size: var(--text-6xl);
  font-weight: var(--font-normal);
}

.description {
  @include breakInnerSpans;
  font-size: var(--text-2xl);
  margin-top: 30px;
  line-height: 1.5;
}

.about {
  flex: 1;
}

.rightControls {
  display: flex;
  flex-direction: column;
}

.toggleWithSocials {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
