@use '../shared/styles/breakpoints' as *;
@use '../shared/styles/mixins.scss' as *;

.article {
  margin: 45px 0;
  padding-top: 20px;

  @include bpTablet {
    margin: 35px 0;
  }

  @include bpMobile {
    margin: 20px 0;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  font-weight: var(--font-bold);
}

.heading {
  font-size: var(--text-5xl);
  text-align: center;
  margin: 24px 0;

  @include bpTablet {
    font-size: var(--text-3xl);
  }
}

.header {
  margin-bottom: 20px;
}

.textButton {
  @include hoverable;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-weight: var(--font-semibold);
}
