@use '../shared/styles/breakpoints' as *;

.wrapper {
  display: inline-flex;
  align-items: center;
  font-weight: var(--font-bold);
}

.reversed {
  flex-direction: row-reverse;

  & .icon {
    margin-left: 0;
    margin-right: 10px;
  }
}

.categoryName {
  font-size: var(--text-lg);

  @include bpTablet {
    font-size: var(--text-base);
  }
}

.icon {
  margin-left: 10px;
  fill: var(--color-text);

  @include bpTablet {
    height: 18px;
    width: 18px;
  }
}
