.wrapper {
  display: inline-flex;
  align-items: center;
  font-weight: var(--font-bold);
}

.reversed {
  flex-direction: row-reverse;

  & .icon {
    margin-left: 0;
    margin-right: 10px;
  }
}

.categoryName {
  font-size: var(--text-xl);
  filter: invert(15%);
}

.icon {
  margin-left: 10px;
}
