@mixin breakInnerSpans {
  & > span {
    display: block;
  }
}

@mixin hoverable {
  transition: filter 0.2s;

  &:hover {
    filter: brightness(3);
  }

  :root[data-theme='dark'] &:hover {
    filter: brightness(0.8);
  }
}

@mixin srOnly {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
