@use '../../../shared/styles/breakpoints' as *;

.typography {
  font-size: var(--text-xl);
  letter-spacing: 4%;
  line-height: 180%;

  @include bpTablet {
    font-size: var(--text-lg);
    line-height: 170%;
  }
}
