:root {
  --color-text: #14213d;
  --color-background: #ffffff;
  --color-primary: #f1f1f1;
}

:root[data-theme='dark'] {
  --color-text: #ffffff;
  --color-background: #2f3651;
  --color-primary: #14213d;
}

:root {
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.8785rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;

  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --font-family: 'Raleway', sans-serif;
}
