@use '../shared/styles/mixins' as *;
@use '../shared/styles/breakpoints' as *;

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  @include bpTablet {
    align-items: center;
  }
}

.localesList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 5px 0 0;
  padding: 0;

  @include bpTablet {
    align-items: center;
  }
}

.listItem {
  margin-bottom: 5px;
}

@mixin listButton {
  display: block;
  font-weight: var(--font-bold);
  font-size: var(--text-lg);
  color: var(--color-text);
  text-decoration: none;
  padding: 5px;

  @include hoverable;
}

.link {
  @include listButton;
}

.button {
  @include listButton;
  background-color: transparent;
  border: none;
  font-family: inherit;
}

.toggleWithSocials {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;

  @include bpTablet {
    flex-direction: column;
  }
}

.hamburgerWrapper {
  display: none;

  @include bpTablet {
    display: block;
    position: relative;
    z-index: 20;
  }
}

.allControls {
  display: flex;
  flex-direction: column;

  @include bpTablet {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 15;
  }
}

.backdrop {
  @include bpTablet {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-background);
    filter: opacity(85%) invert(30%);
    z-index: 10;
  }
}
